.custom-block.tip
  border-color: #3984B6

.home-link
  img.logo
    margin-right: 4px
    height: 2rem
    @media (max-width: 719px)
      display: none !important

  span.site-name
    color: grey
    display: inline-block !important

span.green
  color: #3CB371
span.red
  color: #FF5A60

