// fix
.home-link
  img.logo
    margin-right: 4px
    height: 2rem
    @media (max-width: 719px)
      display: none !important
  span.site-name
    color: grey
    display: inline-block !important
ul.sidebar-links
  > li:not(:first-child)
    margin-top: 0 !important
  > li > a.sidebar-link, > li > section.sidebar-group > .sidebar-heading
    font-size: 1em !important
    line-height: 1.2 !important
    font-weight: normal !important
    &.active
      font-weight: bold !important
  > li > section.sidebar-group > p.sidebar-heading
    font-size: 0.8em !important
    color: #A9A9A9 !important
header.hero
  h1#main-title
    font-size: 2rem

// extra
span.grey, small.grey
  color: grey
span.green
  color: #3CB371
span.red
  color: #FF5A60
span.ref
  display: block
  font-size: 0.8em
  text-align: center
span.ref-left
  display: block
  font-size: 0.8em
  text-align: left
